    tenancy_ocid     = "ocid1.tenancy.oc1..."
    user_ocid        = "ocid1.user.oc1..."
    fingerprint      = "aa:bb:cc"
    private_key_path = "/home/ubuntu/.oci/oci_api_key.pem"
    compartment_ocid = "ocid1.compartment.oc1..."
    ssh_public_key   = "ssh-rsa AAAA..."
    region           = "sa-saopaulo-1"